/*
 * Test configuration for integrated scalable mode
 */

params {
    // Enable scalable mode with integration
    scalable_mode = true
    integrate_results = true
    
    // Clustering parameters optimized for testing
    mash_threshold = 0.1          // Higher threshold for more clustering
    max_cluster_size = 20         // Smaller clusters for faster processing
    merge_singletons = true       // Combine singletons for analysis
    
    // Enable comprehensive analysis
    run_gubbins = true
    
    // Gubbins parameters
    gubbins_iterations = 2        // Reduced for faster testing
    gubbins_tree_builder = 'iqtree'
    gubbins_first_tree_builder = 'rapidnj'
    gubbins_use_hybrid = true
    gubbins_min_snps = 3          // Lower threshold for testing
    
    // Mash parameters for testing
    mash_sketch_size = 1000       // Standard size
    mash_kmer_size = 21
    mash_min_copies = 1
    
    // IQ-TREE parameters
    iqtree_model = 'GTR+ASC'
    
    // Output
    outdir = 'results_integrated'
    publish_dir_mode = 'copy'
}

process {
    // Resource requirements for testing
    withLabel: 'process_high' {
        cpus = 4
        memory = '8.GB'
        time = '4.h'
    }
    
    withLabel: 'process_medium' {
        cpus = 2
        memory = '4.GB'
        time = '2.h'
    }
    
    withLabel: 'process_low' {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
    }
}

// Enable detailed reporting
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
}