/*
 * Test configuration for scalable mode
 */

params {
    // Enable scalable mode
    scalable_mode = true
    
    // Clustering parameters
    mash_threshold = 0.05
    max_cluster_size = 50
    merge_singletons = true
    
    // Enable Gubbins for recombination analysis
    run_gubbins = true
    
    // Gubbins parameters
    gubbins_iterations = 3
    gubbins_tree_builder = 'iqtree'
    gubbins_first_tree_builder = 'rapidnj'
    gubbins_use_hybrid = true
    gubbins_min_snps = 5
    
    // Mash parameters
    mash_sketch_size = 1000
    mash_kmer_size = 21
    mash_min_copies = 1
    
    // Output
    outdir = 'results_scalable'
    publish_dir_mode = 'copy'
}

process {
    // Reduce resource requirements for testing
    withLabel: 'process_high' {
        cpus = 2
        memory = '4.GB'
        time = '2.h'
    }
    
    withLabel: 'process_medium' {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
    }
    
    withLabel: 'process_low' {
        cpus = 1
        memory = '1.GB'
        time = '30.min'
    }
}